$primary: #1baeae; // 主题色
$orange: #FF6B01;
$bc: #F7F7F7;
$fc: #fff;

// // 背景图片地址和大小
@mixin bis($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

// //圆角
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

// //1px底部边框
@mixin border-1px($color: #333, $width: 1px) {
  position: relative;

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: $width solid $color;
    content: '';
  }
}

// //宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

// //字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}
