.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// //定位全屏
.allcover {
  position: absolute;
  top: 0;
  right: 0;
}

// //定位上下左右居中
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// //定位上下居中
.ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// //定位左右居中
.cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// 点击动画
.button-animation {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    border: inherit;
    border-color: #000;
    border-radius: inherit;
    opacity: 0;
    content: " ";
  }

  &:active::before {
    opacity: 0.2;
  }
}


// flex相关

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.x-center {
  justify-content: center;
}

.x-end {
  justify-content: flex-end;
}

.x-start {
  justify-content: flex-start;
}

.x-between {
  justify-content: space-between;
}

.x-around {
  justify-content: space-around;
}

.y-center {
  align-items: center;
}

.y-end {
  align-items: flex-end;
}

.flex-item {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
